{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

	<form action="{{ url_for('leaguesList') }}" method="post">
		<table>
			<tr>
				<td></td>
				<td><input type="text" name="TeamF" value="" /></td>
				<td><input type="text" name="NameF" value="" /></td>
				<td><input type="text" name="CountryF" value="" /></td>
				<td><input type="number" name="YearF" value="" /></td>
				<td><input type="submit" name="Find"value="Find" /></td>
			</tr>
			<tr>
				<td></td>
				<td><b>Team Name </b></td>
				<td><b>League Name </b></td>
				<td><b>Nationality </b></td>
				<td><b>Age</b></td>
		    </tr>
		{% for row in rows %}
			<tr>
				<td><input type="checkbox" name="movies_to_delete"value="{{row[0]}}" /></td>
			{%if update == True %}
				<td>{{row[1]}} </td>
				<td><input type="text" name="Name{{row[0]}}" value="{{row[2]}}" /></td>
				<td><input type="text" name="Country{{row[0]}}" value="{{row[3]}}" /></td>
				<td><input type="number" name="Year{{row[0]}}" value="{{row[4]}}" /></td>
			{%else%}
				<td>{{row[1]}} </td>
				<td>{{row[2]}} </td>
				<td>{{row[3]}}</td>
				<td>{{row[4]}}</td>
			{%endif%}
		    </tr>
		{% endfor %}

		{%if update == True %}
			<tr>
				<td></td>
				<td><input type="submit" name="Update2"value="Update" /></td>
			</tr>
		{%else%}
			<tr>
				<td></td>
				<td><select name="SelectTeamName">
				{% for pair in TeamsSelect %}
  					<option value="{{pair[0]}}">{{pair[1]}}</option>
  				{% endfor %}
					</select></td>
				<td><input type="text" name="Name" value="" /> </td>
				<td><input type="text" name="Country" value="" /> </td>
				<td><input type="number" name="Year" value="" />  </td>
				<td><input type="submit" name="Add"value="Add" /></td>
		    </tr>
		    <tr>
				<td><input type="submit" name="Delete"value="Delete" /></td>
			</tr>
		{%endif%}
		</table>
		{%if update == False %}
				<br><br>
    			<a href="/leaguesList/Update">Click For Update</a>
    	{%endif%}
	</form>
{% endblock %}