{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

	<form action="{{ url_for('playersList') }}" method="post">
		<table>
			<tr>
				<td></td>
				<td><b>Player Name </b></td>
				<td><b>Country </b></td>
				<td><b>Age</b></td>
		    	</tr>
		{% for row in rows %}
			<tr>
				<td><input type="checkbox" name="movies_to_delete"value="{{row[0]}}" /></td>
				<td>{{row[1]}} </td>
				<td>{{row[2]}} </td>
				<td>{{row[3]}}</td>
		    </tr>
		{% endfor %}
			<tr>
				<td></td>
				<td><input type="text" name="Name" value="" />    </td>
				<td><input type="text" name="Country" value="" /> </td>
				<td><input type="number" name="Age" value="" />     </td>
		    </tr>
		</table>
		<input type="submit" name="Add"value="Add" />
		<input type="submit" name="Delete"value="Delete" />
	</form>
{% endblock %}